<div class="top">
  <a href="#about" class="link">
    <span>About</span>
  </a>
  <a href="#experience" class="link">
    <span>Experience</span>
  </a>
  <a href="#contact" class="link">
    <span>Contact</span>
  </a>
</div>

<div class="video-container">
  <video
    src="assets/mixkit-clouds-and-blue-sky-2408.mp4"
    type="video/mp4"
    loop
    autoplay
    [muted]="true"
    id="video"
  ></video>
  <h1 class="center-name above">NORAN DIACONU</h1>
  <h3 class="center-title above">Angular Software Developer</h3>
</div>

<div class="section" id="about">
  <h2 class="center">About Me</h2>
  <div class="flex-50">
    <div class="about">
      Experienced developer with a demonstrated history of working in the
      computer software industry. Skilled in areas such as Angular, Java, HTML,
      SCSS, JavaScript, SQL, Educational Technology, and Technical Support.
      Fluent in Romanian with a working proficiency in Spanish.
    </div>
    <img src="assets/20161018_184702.jpg" class="selfie" />
  </div>
</div>

<div class="section" id="experience">
  <h2 class="center">Experience</h2>
  <div class="flex-50">
    <div class="oneCard">
      <div class="oneCard__side oneCard__front">
        <h3 class="center">Work Experience</h3>
      </div>
      <div class="oneCard__side oneCard__back">
        <div class="center">
          <a (click)="toggle()">
            <h3>View here</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="oneCard">
      <div class="oneCard__side oneCard__front">
        <h3 class="center">Projects</h3>
      </div>
      <div class="oneCard__side oneCard__back">
        <div class="center">
          <a href="https://github.com/norandiaconu">
            <h3>View GitHub</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="display" [@fade]>
  <a (click)="toggle()">Close</a>
  <div class="position">
    <h4 class="no-margin">Angular Application Developer</h4>
    <h5 class="no-margin">Aflac</h5>
    <h6 class="no-margin">Current</h6>
  </div>
  <div class="position">
    <h4 class="no-margin">Angular Developer</h4>
    <h5 class="no-margin">Empowered Benefits, LLC [acquired by Aflac in 2022]</h5>
    <h6 class="no-margin">Feb 2021 - Jan 2022</h6>
  </div>
  <div class="position">
    <h4 class="no-margin">Java Developer</h4>
    <h5 class="no-margin">Empowered Benefits, LLC [acquired by Aflac in 2022]</h5>
    <h6 class="no-margin">Oct 2019 - Feb 2021</h6>
  </div>
  <div class="position">
    <h4 class="no-margin">Software Developer</h4>
    <h5 class="no-margin">RapidCourt</h5>
    <h6 class="no-margin">Oct 2017 - Sept 2019</h6>
  </div>
  <div class="position">
    <h4 class="no-margin">IT Manager</h4>
    <h5 class="no-margin">Bright Audio Video</h5>
    <h6 class="no-margin">Jan 2017 - Sept 2017</h6>
  </div>
  <div class="position">
    <h4 class="no-margin">Classroom Support Technician</h4>
    <h5 class="no-margin">Appalachian State University</h5>
    <h6 class="no-margin">Jul 2013 - Dec 2016</h6>
  </div>
</div>

<div class="section" id="contact">
  <h2 class="center">Contact</h2>
  <h3 class="center">
    <img
      src="https://icomoon.io/iconsabf18a1/4/299.svg"
      alt="Gmail logo"
      class="logo"
    />
    <div>&nbsp;Email:&nbsp;</div>
    <a href="mailto: norandiaconu@gmail.com">norandiaconu@gmail.com</a>
  </h3>
  <h3 class="center">
    <img
      src="https://icomoon.io/iconsabf18a1/4/456.svg"
      alt="LinkedIn logo"
      class="logo"
    />
    <div>&nbsp;LinkedIn:&nbsp;</div>
    <a href="https://www.linkedin.com/in/noran-diaconu">noran.linkedin</a>
  </h3>
</div>

<a href="#">
  <img src="assets/circle-up.svg" class="logo2" />
</a>

<div class="credits">
  Credits to https://mixkit.co/ for the video and https://icomoon.io/ for the icons
</div>
