<div class="top">
  <a href="#about" class="link">
    <span>About</span>
  </a>
  <a href="#experience" class="link">
    <span>Experience</span>
  </a>
  <a href="#contact" class="link">
    <span>Contact</span>
  </a>
</div>

<div class="container">
  <video autoplay muted loop id="video">
    <source src="../assets/mixkit-clouds-and-blue-sky-2408.mp4" type="video/mp4" />
  </video>
  <h1 class="center2 above">NORAN DIACONU</h1>
  <h3 class="center3 above">Angular Software Developer</h3>
</div>

<div class="section" id="about">
  <h2 class="center">About Me</h2>
  <div class="flex-50">
    <div class="about">
      Experienced developer with a demonstrated history of working in the
      computer software industry. Skilled in areas such as Angular, Java, HTML,
      SCSS, JavaScript, SQL, Educational Technology, and Technical Support.
      Fluent in Romanian with a working proficiency in Spanish.
    </div>
    <img src="../assets/20161018_184702.jpg" class="selfie" />
  </div>
</div>

<div class="section" id="experience">
  <h2 class="center">Experience</h2>
  <div class="flex-50">
    <div class="oneCard">
      <div class="oneCard__side oneCard__front">
        <h3 class="center">Resume</h3>
      </div>
      <div class="oneCard__side oneCard__back">
        <div class="center">
          <a href="#">
            <h3>View here</h3>
          </a>
        </div>
      </div>
    </div>
    <div class="oneCard">
      <div class="oneCard__side oneCard__front">
        <h3 class="center">Projects</h3>
      </div>
      <div class="oneCard__side oneCard__back">
        <div class="center">
          <a href="#">
            <h3>View here</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="contact">
  <h2 class="center">Contact</h2>
  <h3 class="center">
    <img
      src="https://icomoon.io/iconsabf18a1/4/299.svg"
      alt="Gmail logo"
      class="logo"
    />
    <div>Email:&nbsp;</div>
    <a href="mailto: norandiaconu@gmail.com">norandiaconu@gmail.com</a>
  </h3>
  <h3 class="center">
    <img
      src="https://icomoon.io/iconsabf18a1/4/456.svg"
      alt="LinkedIn logo"
      class="logo"
    />
    <div>LinkedIn:&nbsp;</div>
    <a href="https://www.linkedin.com/in/noran-diaconu">noran.linkedin</a>
  </h3>
</div>

<a href="#">
  <img src="../assets/circle-up.svg" class="logo2" />
</a>

<div class="content" role="main">
  <a (click)="toggle()" style="cursor: pointer">View Resume</a>
</div>

<div>Credits to https://mixkit.co/ for the video and https://icomoon.io/ for the icons</div>
